@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
	--color-dark: #212121;
	--color-light: #EEEEEE;
	--font-primary: 'Inter';
}

body{
	background: #EEE;
	font-family: var(--font-primary)
}

a{
	text-decoration: none;
}

nav{
	background: var(--color-dark);
	border-bottom: 1px solid #000;
	padding: .1em 0em;
	position: fixed;
	width: 100%;
}

.nav-logo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav-logo h2{
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: .5em;
}

.nav-right{
	display: none;
}

.container
{	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.videos{
	width: 30%;
	max-height: 94vh;
	margin-top: 50px;
	overflow-y: scroll;
}



.video-items{
	width: 100%;
	border: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #FFF;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}


.video-items.video-active{
	background: var(--color-dark);
	border-right: 1px solid var(--color-dark);
	border-bottom: none;
}

.video-items.video-active .video-title{
	color: #FFF;
}


.media-left{
	align-self: center;
}

.media-content{
	flex: 1;
	padding: .5em;
	align-self: center;
	text-align: left;
}

.media-content h6{
	color: #212121;
	font-weight: 400;
}

.media-right{
	align-self: center;
}

.video-title
{
	font-size: .9em;	
	text-align: left;
}

.video{
	background: var(--color-dark);
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 0px 1.5em ;
}
.video-title-reproductor{
	font-size: 1.1em;
	padding: 1em 0;
	text-align: left;
	font-weight: bold;
	width: 100%;
	color: #FFF;
}

.video-reproductor{
	width:100%; 
	height:452px;
}

.video-extra{
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	padding: .7em 0;
}
.video-statics,
.video-share{
	display: flex;
	width: 50%;
}
.video-statics{
	justify-content: space-between;
}
.video-share{
	justify-content:flex-start
}
.video-share a{
	padding: 0 1em;
}
.text-count{
	font-size: .95em;
	position: absolute;
	font-weight: 500;
	margin-left: 2px;
	color: #FF0078;
}

footer{
	width: 70%;
	bottom: 0;
	position: absolute;
	padding: .5em ;
	text-align: right;
}

footer h6{
	color: #FFF;
}

footer a{
	color: #FF0078;
	font-weight: bold;
	padding: 0 .5em;
}
